/* text */

.headline_box {
  margin: 0 auto 4vw;
  max-width: 1080px;
  padding: 0 4vw;
}
.headline_box_nomargin {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 4vw;
}

.headline_box_center {
  margin: 0 auto 4vw;
  text-align: center;
  padding: 0 4vw;
  max-width: 1080px;
}
.headline_box_center_nomargin {
  margin: 0 auto 0;
  text-align: center;
  padding: 0 4vw;
  max-width: 1080px;
}

.headline {
  font-size: 4rem;
  font-weight: bold;
  color: var(--primary-500);
  line-height: 1.3;
}

.headline span {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 0 1.6rem;
}

.headlineMed {
  font-size: 2rem;
  color: var(--primary-500);
  font-weight: bold;
  margin: 0 0 15px 0;
  line-height: 1.5;
}

.headlineMed span {
  display: block;
  font-size: 1.4rem;
  margin: 5px 0 0 0;
}
.headlineMin {
  font-size: 1.6rem;
  color: var(--primary-500);
  font-weight: bold;
  margin: 0 0 0 0;
  line-height: 1.5;
}

.headline_box_center .headline span {
  display: block;
  margin: 1.6rem 0 0 0;
}

.sectionFlexLeft .headline span {
  display: block;
  margin: 1.6rem 0 0 0;
}

.headlineMinBlk {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0 0;
  line-height: 1.5;
}
.headlineMinBlk span {
  font-size: 1.2rem;
  display: block;
  margin: 5px 0 0 0;
}
.headlineBigWh {
  font-size: 3.6rem;
  display: block;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

/* section */

.slantBg {
  width: 100%;
  margin: 0;
  position: relative;
  overflow: visible;
  padding: 2vw 0;
}

.slantBg::before {
  content: ' ';
  position: absolute;
  top: 8vw;
  bottom: 10vw;
  left: 0;
  right: 0;
  background-color: var(--bg-light);
  transform: skewY(-5deg);
  z-index: -1;
}

.slantBg_inner {
  padding: 4vw 0;
  box-sizing: content-box;
  margin: 0 auto;
}

.section_inner {
  padding: 6vw 0;
  box-sizing: content-box;
  margin: 0 auto;
}

.case_inner {
  padding: 30px 0 4vw;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}

.sectionFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 4vw;
  box-sizing: content-box;
}
.sectionFlexLeft {
  width: 30%;
}
.sectionFlexRight {
  width: calc(70% - 40px);
  margin: 0 0 0 40px;
}

/* contents */

.contentBox {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 4vw;
  box-sizing: content-box;
}

.contentFlex {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.contentFlexTwo {
  width: calc(50% - 20px);
  margin: 0 0 40px 40px;
  position: relative;
}
.contentFlexTwo:nth-child(odd) {
  margin: 0 0 40px 0;
}

.contentFlexThree {
  width: calc(33.3333% - 20px);
  margin: 0 30px 40px 0;
  position: relative;
}
.contentFlexThree:nth-child(3n) {
  margin: 0 0 40px 0;
}

.boxShadowA {
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
}

.boxRound {
  border-radius: 6px;
  position: relative;
  background-color: #fff;
}
.boxRound_inner {
  border-radius: 6px;
  overflow: hidden;
}

.imageBoxA {
  width: 100%;
  position: relative;
}

.imageBoxA::before {
  padding: 50% 0 0 0;
  display: block;
  content: ' ';
}
.imageBoxB {
  width: 100%;
  position: relative;
}

.imageBoxB::before {
  padding: 62.5% 0 0 0;
  display: block;
  content: ' ';
}
.imageBoxC {
  width: 100%;
  position: relative;
}

.imageBoxC::before {
  padding: 75% 0 0 0;
  display: block;
  content: ' ';
}
.imageBoxD {
  width: 100%;
  position: relative;
}

.imageBoxD::before {
  padding: 141% 0 0 0;
  display: block;
  content: ' ';
}
.imageCircle {
  width: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.imageCircle::before {
  padding: 100% 0 0 0;
  display: block;
  content: ' ';
}

.imageBoxSquare {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.imageBoxSquare::before {
  padding: 100% 0 0 0;
  display: block;
  content: ' ';
}

.txtBoxA {
  padding: 20px;
}

.txtBoxB {
  padding: 20px;
}
.txtBoxB .imageBoxB {
  margin: 0 0 20px 0;
}

.txtBoxB h3 {
  text-align: center;
}

.txtBoxC {
  padding: 10px;
}

.hoverTxt {
  position: absolute;
  left: 10px;
  bottom: -15px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
  border-radius: 6px;
}

.stepBoxWrapper {
  margin: 0;
  padding: 0;
}
.stepBoxWrapper .contentFlexTwo {
  margin: 0 0 40px 40px;
}
.stepBoxWrapper .contentFlexTwo:nth-child(odd) {
  padding: 4vw 0 0 0;
  margin: 0 0 40px 0;
}

.DesignWrapper .txtBoxA {
  width: calc(100% - 240px);
}

.DesignImg {
  position: absolute;
  right: 20px;
  bottom: -80px;
  width: 240px;
  height: 240px;
}

.stepBoxWrapper .contentFlexTwo:nth-child(even) .DesignImg {
  bottom: -20px;
}

/* case */
.caseContents {
  display: flex !important;
  align-items: center;
  max-width: 840px !important;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

.caseContentsImg {
  width: 44%;
  position: relative;
}
.caseContentsImg::before {
  padding: 75% 0 0 0;
  display: block;
  content: ' ';
}

.caseContentsImg_inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.caseContentsTxt {
  width: calc(56% - 20px);
  margin: 0 20px 0 0;
}

.caseContentsTxt h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.caseContentsTxt h2 span {
  font-size: 1.2rem;
  display: block;
  margin: 10px 0 0 0;
}

.caseContentsTxt p {
  font-size: 1.4rem;
}

.caseContentsLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 15px 0 0 0;
}

.caseContentsLogoImg {
  width: 70px;
  position: relative;
  margin: 0 15px 0 0;
}
.caseContentsLogoImg::before {
  padding: 75% 0 0 0;
  content: ' ';
  display: block;
}

.button_prev {
  left: 0;
  top: 50%;
  background-color: #000;
  width: 50px;
  height: 50px;
}

/* recommend */

.recommendContents {
  align-items: center;
  padding: 4vw 0 50px 0;
  max-width: 720px;
  margin: 0 auto;
}

.recommendContentsFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
}

.recommendContentsImg {
  width: 200px;
}

.recommendContentsTxt {
  width: calc(100% - 230px);
  margin: 0 0 0 30px;
}

/* handbook */

.handbookLink {
  color: #000;
}

.handbookLinkHover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.handbookLink:hover .handbookLinkHover {
  opacity: 1;
}

.handbookSmallLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.handbookSmallImg {
  width: 80px;
}

.handbookSmallTxt {
  width: calc(100% - 95px);
  margin: 0 0 0 5px;
}

/* faq */

.faqContent {
  margin: 0;
}

.faqContent h3 {
  margin: 0 0 20px 0;
}

/* contactSection */

.contactSection {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.contactSectionBg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}
.contactSectionBg::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg-overlay);
  mix-blend-mode: multiply;
  content: ' ';
}

.contactSection_inner {
  max-width: 1080px;
  box-sizing: content-box;
  padding: 0 4vw;
  margin: 0 auto;
}

.contactSectionFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contactSectionImg {
  width: 300px;
  height: 400px;
  position: relative;
}
.contactSectionImgA {
  width: 240px;
  position: absolute;
  left: 0;
  bottom: -20px;
  overflow: visible;
}
.contactSectionImgB {
  width: 240px;
  position: absolute;
  right: 0;
  bottom: -60px;
  overflow: visible;
}

.contactSectionImg div {
  overflow: visible;
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.5);
}

.contactSectionTxt {
  width: calc(100% - 360px);
  padding: 4vw 0;
  margin: 0 0 0 60px;
  text-align: center;
}

.contactSectionLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  padding: 0;
}

.contactSectionLogoImg {
  width: 200px;
  height: 50px;
  position: relative;
}
.contactSectionLogoTxt {
  font-size: 1.8rem;
  color: #fff;
  margin: 0 20px 0 0;
  font-weight: bold;
}

.contactSectionLogoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactSectionLogoBtn a {
  margin: 0 5px;
}

/* news */

.newsListHead {
  background-color: var(--bg-light);
}
.newsListHeadInnder {
  padding: 4vw 4vw;
}
.newsCategoryFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsCategoryTitle {
  display: block;
  margin: 0 5px 0 0;
  font-weight: bold;
}
ul.newsCategoryList {
  display: flex;
}
ul.newsCategoryList li {
  margin: 0 5px;
}

ul.newsCategoryList li ul.news {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.newsListContent {
  margin: 0 auto;
  padding: 2vw 0 0 0;
}

.newsListContent ul.news {
  max-width: 680px;
  margin: 0 auto;
}

ul.news li {
  display: block;
  width: 100%;
  border-bottom: solid 1px var(--border-light);
}
ul.news li a {
  color: var(--text-color);
  padding: 25px 10px;
  display: block;
}

ul.news li a:hover {
  background-color: #f9fafa;
}
ul.news li h3 {
  font-size: 1.7rem;
  margin: 0 0 15px 0;
  font-weight: bold;
  line-height: 1.4;
}

ul.newsImages {
  max-width: 1080px !important;
  box-sizing: content-box;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

ul.newsImages li {
  width: calc(33.3333% - 20px);
  margin: 0 0 40px 30px;
  border-bottom: none;
}

ul.newsImages li:nth-child(3n + 1) {
  margin: 0 0 40px;
}

ul.newsImages li a {
  padding: 15px;
}

.newsImagesBox {
  width: 100%;
  position: relative;
  margin: 0 0 10px 0;
  box-shadow: 0px 4px 20px rgba(0, 35, 51, 0.15);
  border-radius: 6px;
  overflow: hidden;
}
.newsImagesBox::before {
  padding: 50% 0 0 0;
  content: ' ';
  display: block;
}

.newsImagesTxt {
  margin: 0;
}

.newx_list_link {
  text-align: right;
  margin: 30px 0 0 0;
}

/* post */

.postOgpImage {
  margin: 0 auto;

  width: 840px;
  height: 475px;
  position: relative;
}

.postContent {
  max-width: 680px;
  margin: 0 auto;
}
.postContent h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

.postBody {
  margin: 60px 0 0 0;
}

.postMetaFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBody h2 {
  font-size: 2.6rem;
  font-weight: bold;
  margin: 60px 0 20px;
  padding: 0 0 0 40px;
  position: relative;
}
.postBody h2::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  content: ' ';
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
  border: solid 1rem var(--primary-500);
  border-radius: 50%;
}

.postBody h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 10px;
}
.postBody h4 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 10px;
}
.postBody h5 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 10px;
}
.postBody p {
  margin: 0 0 20px;
  font-size: 1.6rem;
}
.postBody p strong {
  font-weight: bold;
}

.postBody img {
  width: 100%;
  height: auto;
  margin: 0 0 20px;
}

.postBody blockquote {
  display: block;
  padding: 15px 20px;
  line-height: 1.6;
  border-left: solid 4px var(--primary-300);
  font-size: 1.6rem;
  background-color: var(--bg-light);
  margin: 0 0 20px;
}

.postBody pre {
  font-size: 1.6rem;
  margin: 0 0 20px;
}
.postBody code {
  padding: 20px;
  white-space: pre-wrap;
}

.postBody ol {
  list-style: decimal inside;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 0 20px;
}
.postBody ul {
  list-style: disc inside;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 0 20px;
}

.nextPreviewWrapper {
  border-top: solid 1px var(--border-light);
  border-bottom: solid 1px var(--border-light);
  padding: 20px;
  margin: 20px 0;
}

.nextPreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 680px;
  box-sizing: content-box;
  margin: 0 auto;
}
.nextPreviewbox {
  width: 46%;
}
.nextPreview a {
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: 1.4;
  font-weight: bold;
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 5px;
}
.nextPreview a.next {
  padding: 0 4rem 0 0;
}
.nextPreview a.prev {
  padding: 0 0 0 4rem;
}

.nextPreview a.next svg {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  width: 3rem;
  height: 3rem;
  color: var(--primary-500);
}
.nextPreview a.prev svg {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);
  width: 3rem;
  height: 3rem;
  color: var(--primary-500);
}

.nextPreview a:hover {
  text-decoration: underline;
}

/* share */

ul.shareIcons {
  display: flex;
  justify-content: flex-end;
}

ul.shareIcons li {
  margin: 0 0 0 15px;
}

ul.shareIcons li a {
  font-size: 1.8rem;
  color: var(--dark-300);
}

ul.shareIcons li button {
  font-size: 1.8rem;
  color: var(--dark-300);
}
ul.shareIcons li a:hover,
ul.shareIcons li button:hover {
  color: var(--dark-700);
}
.postContactBox {
  border: solid 2px var(--primary-500);
  box-sizing: border-box;
  padding: 30px;
  border-radius: 6px;
  margin: 40px 0;
}
.postContactBoxLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}
.postContactBoxLogoImg {
  width: 120px;
  height: 30px;
  position: relative;
  margin: 0 20px 0 0;
}

.postContactBoxLogo p {
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  color: var(--primary-500);
}

.categoryLinkBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.categoryLinkBtnBox a {
  margin: 0 5px;
}

/* latest */

.latestPost {
  max-width: 680px;
  margin: 60px auto 0;
}

/* pager */

ul.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;
}

ul.pager li {
  margin: 0 3px;
}
ul.pager li a {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  box-sizing: border-box;
  min-width: 28px;
  border-radius: 50%;
  border: solid 1px var(--primary-500);
  color: var(--text-color);
}

ul.pager li a:hover {
  background-color: #e6f6fd;
}

ul.pager li.active a {
  background-color: #ccecfb;
}

/* breadcrumb */

ul.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
}

ul.breadcrumb li {
  margin: 0;
}

ul.breadcrumb li.slush {
  margin: 0 5px 0;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/* contact */

.contactPageFlex {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  border-top: solid 1px var(--border-light);
}

.contactPageFlexLeft {
  width: 50%;
  background-color: var(--bg-light);
  padding: 4vw 0 4vw 4vw;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.contactPageFlexRight {
  width: 50%;
  padding: 4vw 4vw 4vw 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.contactPageFlexInner {
  width: 100%;
  max-width: calc(540px - 4vw);
  box-sizing: content-box;
}

.contactPageFlexLeft .contactPageFlexInner {
  padding: 0 4vw 0 0;
}
.contactPageFlexRight .contactPageFlexInner {
  padding: 0 0 0 4vw;
}

.contactPageFlex .headline span {
  display: block;
  margin: 10px 0 0;
}

.contactPageFlexInner p {
  margin: 20px 0 0;
  font-size: 1.4rem;
}

.contactContent {
  position: relative;
}

._formrun_gotcha {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.formContentBox {
  margin: 0 0 20px;
}
.formContentBoxFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 20px;
}

.formContentBoxFlex .formContentBox {
  width: calc(50% - 10px);
  margin: 0 0 0 20px;
}
.formContentBoxFlex .formContentBox:first-child {
  margin: 0;
}

.contactContent label {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contactContent label span {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 1rem;
  padding: 2px;
  background-color: var(--dark-400);
  color: #fff;
  border-radius: 2px;
  line-height: 1.1;
}

.contactContent label span.required {
  background-color: var(--error-500);
}

.downloadFlex {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.downloadFlexImg {
  width: 180px;
  height: 200px;
  position: relative;
  z-index: 1;
}
.downloadFlexImgBox {
  width: 126px;
  height: 180px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
}
.downloadFlexImgBox:first-child {
  left: 0;
  top: 0;
  z-index: 3;
}

.downloadFlexRight {
  width: calc(100% - 200px);
  margin: 0 0 0 20px;
}

p.downloadTxt span {
  display: block;
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  font-weight: bold;
  padding: 5px 0;
  margin: 5px 0;
}

.handbookContent {
  margin: 20px 0 0 0;
}

.handbookImage {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.handbookTxt {
  margin: 0;
  padding: 0;
}

.handbookTxt strong {
  font-weight: bold;
}

/* thanks */

.thanksPage {
  width: 100%;
  min-height: 720px;
  position: relative;
  z-index: 1;
}

.thanksPageBg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.thanksPageBgOverlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg-overlay);
  mix-blend-mode: multiply;
  z-index: 1;
}

.thanksContentBg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanksContent {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 4vw 4vw;
}

.thanksContent h1 {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0 0 40px 0;
  color: #fff;
}

.thanksContent h1 span {
  display: block;
  font-size: 1.6rem;
  margin: 10px 0 0 0;
}

.thanksContent p {
  color: #fff;
}

.thanksContentBtn {
  margin: 40px 0 0;
}

.thanksDownload {
  margin: 0 0 40px 0;
  border: solid 2px var(--secondary-500);
  border-radius: 6px;
  padding: 30px;
  box-sizing: border-box;
}
.thanksDownload h2 {
  font-size: 1.8rem;
  color: var(--secondary-500);
  margin: 0 0 20px 0;
  font-weight: bold;
}
