.companyContent {
  padding: 4vw;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 840px;
}

.companyContent section {
  padding: 4vw 0;
}

.companyTimeleapLogo {
  width: 200px;
  height: 147px;
  position: relative;
  margin: 0 auto;
}

.companyContentFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.companyContentFlexLeft {
  width: 20%;
}

.companyContentFlexRight {
  width: calc(80% - 4vw);
  margin: 0 0 0 4vw;
}

.companyContentFlex h2 {
  font-size: 2rem;
  font-weight: normal;
  list-style: 1.4;
}
.companyVision h3 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.4;
  margin: 0 0 30px 0;
  letter-spacing: 0.2rem;
}

.companyVision p {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.companyContent table {
  border-collapse: collapse;
  display: block;
  font-size: 1.4rem;
  line-height: 1.4;
}

.companyContent table th {
  padding: 10px 0;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
.companyContent table td {
  padding: 10px 0 10px 20px;
  font-weight: normal;
}

.companyArticle {
  margin: 0 auto;
  max-width: 720px;
}
.companyArticle h1 {
  font-size: 3rem;
  font-weight: bold;
}

.companyArticle p {
  margin: 0 0 20px;
}
.companyArticle h2 {
  margin: 60px 0 20px;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .companyTimeleapLogo {
    height: 100px;
    position: relative;
    margin: 0 auto;
  }

  .companyContent section {
    padding: 40px 0;
  }

  .companyContentFlex {
    display: block;
  }

  .companyContentFlexLeft {
    width: 100%;
  }

  .companyContentFlexRight {
    width: 100%;
    margin: 40px 0 0 0;
  }
  .companyVision h3 {
    font-size: 2rem;
  }

  .companyVision p {
    font-size: 1.5rem;
  }

  .companyArticle h1 {
    font-size: 2.4rem;
  }

  .companyArticle p {
    margin: 0 0 20px;
  }
  .companyArticle h2 {
    margin: 60px 0 20px;
    font-size: 1.8rem;
    font-weight: bold;
  }
}
