.footer {
  background-color: var(--primary-500);
  margin: 0 0 0 0;
}

.footerInner {
  padding: 4vw;
  box-sizing: content-box;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footerNavFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  order: 2;
}

.footerLogo {
  margin: 0;
  order: 1;
}

.footerLogoImg {
  width: 180px;
  height: 45px;
  position: relative;
}

.footerLogo p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0 0 5px 0;
}

.footerCompany {
  margin: 40px 0 0 0;
}

.footerCompany p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: normal;
}

.footerCompany p a {
  color: #fff;
}

ul.footerNav {
  margin: 0 0 0 40px;
  display: block;
}

ul.footerNav:first-child {
  margin: 0;
}

ul.footerNav li {
  margin: 0 0 5px;
}

ul.footerNav li a {
  font-size: 1.2rem;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  display: inline-block;
}

ul.footerNav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

ul.footerNav li ul li a {
  font-weight: normal;
}

p.footerCopyRight {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 4vw;
}

@media screen and (max-width: 767px) {
  .footerInner {
    display: block;
  }
  .footerNavFlex {
    margin: 0 0 40px 0;
    justify-content: space-between;
  }

  .footerLogo {
    margin: 0 auto;
  }

  p.footerCopyRight {
    text-align: left;
  }

  .footerCompany {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .footerNavFlex {
    display: block;
  }

  ul.footerNav {
    margin: 0 0 20px 0;
    display: block;
  }

  ul.footerNav:first-child {
    margin: 0 0 20px 0;
  }
}

.footerBtn {
  margin: 0 0 0 40px;
  max-width: 220px;
  width: 100%;
}

.footerBtn a {
  display: flex;
  margin: 0 0 16px;
}

.footerRuraMagazineBanner {
  background-color: #fff;
  border-radius: 6px;
  width: 100%;
  padding: 20px 16px 16px;
  color: var(--primary-500);
  transition: 0.2s;
  box-sizing: border-box;
  margin: 0 0 8px 0;
}
.footerRuraMagazineLogo {
  width: 100%;
  aspect-ratio: 8 / 1;
  position: relative;
  margin: 0 auto 16px;
  max-width: 280px;
}
.footerRuraMagazineBanner p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.footerRuraMagazineBanner:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 600px) {
  .footerBtn {
    margin: 0 0 0 0;
    max-width: 100%;
    width: 100%;
  }
  .footerRuraMagazineBanner p {
    text-align: center;
  }
}
