.header {
  padding: 0;
  position: fixed;
  left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
  z-index: 99999;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
      background-color: #fff;
}


.logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0,-50%);
}
.logoImg {
  width: 160px;
  height: 40px;
  position: relative;
     -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
     transition: all 0.2s ease;
}

.logoText {
  font-size: 0.8rem;
  margin: 0 0 0 16px;
  font-weight: bold;
  color: var(--primary-500);
  letter-spacing: 0.05rem;
}

.headerRight {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headerRight a {
  margin: 0 0 0 5px;
}
.headerRight a:first-child {
  margin: 0;
}

nav.header_nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 20px 0 0;
}

nav.header_nav ul li {
  margin: 0 0 0 20px;
}
nav.header_nav ul li a {
  font-size: 1.4rem;
  color: var(--primary-500);
  display: block;
  position: relative;
  padding: 10px 0;
  font-weight: bold;
}

nav.header_nav ul li a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary-500);
  content: ' ';
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
nav.header_nav ul li a:hover::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-500);
  content: ' ';
}

.drawerBtn {
  display: none;
}

.headerFixed {
  height: 50px;
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
}

.headerFixed .logoImg{
  width: 120px;
  height: 30px;
}




@media screen and (max-width: 1160px) {
  .drawerBtn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
    display: block;
    color: var(--primary-500);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerRight {
    right: 60px;
  }

  nav.header_nav {
    display: none;
  }
  .drawerInner {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow-x: scroll;
  }

  .drawerInnerContent {
    padding: 20px 15px;
  }
  .drawerInnerContent ul {
    display: block;
  }
  .drawerInnerContent ul li {
    margin: 0;
    padding: 10px 0;
    border-bottom: solid 1px var(--border-light);
  }
  .drawerInnerContent ul li:first-child {
    border-top: solid 1px var(--border-light);
  }

  .drawerInnerContent ul li a {
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
  }

  .drawerInnerContent ul.simple li {
    border: none;
    padding: 5px;
  }
  .drawerInnerContent ul.simple li a {
    font-size: 1.2rem;
    font-weight: normal;
  }
  .drawerInnerContent .logo {
    margin: 0 0 30px 0;
  }
  .drawerInnerContent .logo a {
    display: block;
  }

  .drawerInnerContent .logo a p {
    margin: 0 0 10px 0;
    font-size: 1.4rem;
  }
  .drawerInnerContent .logoImg {
    width: 140px;
    height: 35px;
  }
  .drawerInnerBtn {
    margin: 10px 0 20px;
  }
  .drawerInnerBtn a {
    display: flex;
    margin: 0 0 5px 0;
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding: 10px 10px;
    height: 50px;
    z-index: 99999;
  }

  .logoImg {
    width: 120px;
    height: 30px;
  }

  .headerFixed .logoImg {
    width: 120px;
    height: 30px;
  }


  .logoText {
    display: none;
  }
  .headerRight {
    display: none;
  }
}
