.hero {
  width: 100%;
  height: 62.5vw;
  max-height: 800px;
  background-color: #ddd;
  position: relative;
}
.hero video {
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  position: absolute;
}

.heroInner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.1);
}

.heroContent {
  width: 100%;
  box-sizing: content-box;
  padding: 4vw;
  margin: 0 auto;
  position: relative;
}

.heroCopy {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
  color: #fff;
}
.heroLogo {
  margin: 60px 0;
}
.heroLogoImg {
  width: 460px;
  height: 120px;
  position: relative;
}

.heroLogoTxt {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
}

.heroTitle {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
}

.heroBtn {
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
}

.heroBtn a {
  margin: 0 15px 0 0;
}

.videoPlayBoxWrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.videoPlayBox {
  width: 340px;
  height: 340px;
  position: absolute;
  right: 4vw;
  bottom: -30px;
  box-sizing: border-box;
}

.videoPlayImg {
  width: 280px;
  height: 280px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.imageCircle {
  width: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCircle::before {
  padding: 100% 0 0 0;
  display: block;
  content: ' ';
  background-color: rbga(0, 0, 0, 1);
}

.imageCircleOverlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background-color: rgba(0, 159, 233, 0.5);
  mix-blend-mode: multiply;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.imagePlayIconWrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePlayIcon svg {
  margin: 0;
  width: 80px;
  height: 80px;
  filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.3));
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.imagePlayIcon path {
  fill: #fff;
}

.videoPlayImg:hover .imagePlayIcon svg {
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.6));
  transform: translate(0, -5px);
}

.videoPlayImg:hover .imageCircleOverlay {
  background-color: rgba(0, 159, 233, 0.7);
}

.imagePlayTxt {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePlayTxt p {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.4;
  color: var(--primary-500);
}

.youtubeWrapper {
  width: 90vw;
}
.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.modalCloseBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 0;
  color: #f00;
  background-color: #fff;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: transparent;
  overflow: hidden;
}

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999999;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.heroBgImg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.heroBgImg::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg-overlay-light);
  mix-blend-mode: multiply;
  content: ' ';
}
.heroSubText {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  margin: 16px 0 0 0;
}
.heroSubText span {
  font-size: 1.6rem;
  margin: 0 5px 0 0;
}

.heroSubText {
  font-size: 1.4rem;
  margin: 16px 0 0 0;
  color: #fff;
  font-weight: bold;
}
.heroSubText span {
  font-size: 1.6rem;
  margin: 0 5px 0 0;
}

@media screen and (max-width: 1200px) {
  .heroCopy {
    font-size: 4vw;
  }

  .heroLogo {
    margin: 4vw 0;
  }
  .heroLogoImg {
    width: 40vw;
    height: 10vw;
    position: relative;
  }

  .heroLogoTxt {
    font-size: 3.2vw;
    font-weight: bold;
    color: #fff;
  }

  .heroTitle {
    font-size: 1.7vw;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
  }

  .videoPlayBox {
    width: 34vw;
    height: 34vw;
    right: 4vw;
  }

  .videoPlayImg {
    width: 28vw;
    height: 28vw;
  }

  .imagePlayTxt {
    width: 14vw;
    height: 14vw;
  }

  .imagePlayTxt p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 640px) {
  .hero {
    height: 161vw;
  }

  .heroInner {
    display: flex;
    align-items: flex-start;
    background-color: var(--bg-overlay-light);
  }

  .heroContent {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
  }

  .heroCopy {
    font-size: 5vw;
    letter-spacing: 0.1rem;
  }

  .heroLogo {
    margin: 30px auto 30px;
    text-align: center;
  }

  .heroLogoImg {
    width: 60vw;
    height: 15vw;
    margin: 0 auto;
  }

  .heroLogoTxt {
    margin: 0 0 2vw 0;
    font-size: 4vw;
  }

  .heroTitle {
    font-size: 1.3rem;
  }

  .heroBtn {
    margin: 20px auto 0;
    display: block;
    align-items: center;
    max-width: 240px;
  }

  .heroBtn a {
    display: flex;
    margin: 0 0 10px;
  }

  .videoPlayBox {
    width: 60vw;
    height: 60vw;
    right: 50%;
    bottom: -50px;
    transform: translate(calc(50% - 5vw), 0);
  }

  .videoPlayImg {
    width: 50vw;
    height: 50vw;
  }

  .imagePlayTxt {
    width: 18vw;
    height: 18vw;
  }

  .imagePlayTxt p {
    font-size: 2vw;
  }

  .imagePlayIcon svg {
    width: 15vw;
    height: 15vw;
  }
  .heroSubText {
    font-size: 1.1rem;
    margin: 16px 0 0 0;
  }
  .heroSubText span {
    font-size: 1.3rem;
    margin: 0 5px 0 0;
  }
}
