.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  border: solid 2px var(--primary-500);
  background-color: #ffffff;
  font-size: 1.3rem;
  color: var(--text-color);
  box-sizing: border-box;
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.03rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn svg {
  margin: 0 5px 0 0;
}
.primary {
  color: #fff;
  background-color: var(--primary-500);
  border: solid 2px #fff;
}
.secondary {
  color: var(--text-color);
  background-color: var(--secondary-500);
  border: solid 2px #fff;
}
.large {
  height: 60px;
  padding: 0 30px;
  border-radius: 30px;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.large svg {
  width: 2rem;
  height: 2rem;
  margin: 0 8px 0 0;
}
.btn:hover {
  background-color: #e6f6fd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.btn:active {
  background-color: var(--primary-050);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.primary:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-600);
}
.primary:active {
  background-color: var(--primary-700);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.secondary:hover {
  box-shadow: 0 4px 10px #00000033;
  background-color: var(--secondary-600);
}
.secondary:active {
  background-color: var(--secondary-700);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.toTopBtn {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: var(--primary-500);
  right: 20px;
  bottom: 20px;
  z-index: 99998;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .large {
    height: 50px;
    padding: 0 26px;
    border-radius: 25px;
    font-size: 1.5rem;
  }
}
